@model UserAdministrationIndexViewModel

@{
    ViewData["Title"] = "Create book";
}

<h1 class="text-center">Users</h1>
<table class="table table-hover">
    <thead>
    <tr class="font-weight-bold text-center row">
        <th class="col-6">Username</th>
        <th class="col-6">Publisher</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr class="row">
            <td class="col-6">
                <div class="d-flex flex-row justify-content-between">
                    @user.UserName
                    <div>
                        @if (!user.IsAdmin)
                        {
                            <button class="btn btn-primary" data-toggle="modal"
                                    data-target="#promoteModal" data-user-id="@user.Id">
                                <i class="fas fa-user-tie"></i>
                            </button>
                        }
                        else
                        {
                            @:Administrator
                            <button class="btn btn-warning" data-toggle="modal"
                                    data-target="#demoteModal" data-user-id="@user.Id">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        }
                        <button class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteModal" data-user-id="@user.Id">
                            <i class="fas fa-user-alt-slash"></i>
                        </button>
                    </div>
                </div>
            </td>
            <td class="col-6">
                @if (user.PublisherId == null)
                {
                    <button class="btn btn-success" data-toggle="modal"
                            data-target="#assignModal" data-user-id="@user.Id">
                        <i class="fas fa-user-plus"></i>
                    </button>
                }
                else
                {
                    <div class="d-flex flex-row justify-content-between">
                        @user.PublisherName
                        <div>
                            <button class="btn btn-primary" data-toggle="modal"
                                    data-target="#assignModal" data-user-id="@user.Id">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button class="btn btn-danger" data-toggle="modal"
                                    data-target="#removeModal" data-user-id="@user.Id">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </div>
                    </div>
                }

            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="UserAdministration" asp-action="AssignPublisher" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Assign publisher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="userId"/>
                    <div class="form-group">
                        <label>Publishers</label>
                        <select class="custom-select" name="publisherId">
                            <option selected="selected" disabled="disabled">Select publisher...</option>
                            @foreach (var publisher in Model.Publishers)
                            {
                                <option value="@publisher.Id">@publisher.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-pen"></i> Assign
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="UserAdministration" asp-action="RemovePublisher" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Remove publisher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="userId"/>
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-user-minus"></i> Remove
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="UserAdministration" asp-action="DeleteUser" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="userId"/>
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-user-alt-slash"></i> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="promoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="UserAdministration" asp-action="PromoteUser" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Promote user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="userId"/>
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-user-tie"></i> Promote
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="demoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="UserAdministration" asp-action="DemoteUser" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Demote user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="userId"/>
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-warning">
                        <i class="fas fa-user-minus"></i> Demote
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.modal').on('show.bs.modal',
            function(event) {
                let button = $(event.relatedTarget);
                let id = button.data('user-id');
                let modal = $(this);
                modal.find('input[name=userId]').val(id);
            });
    </script>
}